.tituloinicial{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellowgreen;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(139, 66, 55);
}
span{
    color: aqua;
}
p{
    color: blue;
    font-style: italic;
}   

.commit{
    color: red;
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    background-color: rgb(145, 108, 83);
}